# ASSIGNMENT#1


#### Learning RDDs With Assignments.

In [2]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
sc= SparkContext()
sqlContext = SQLContext(sc)

In [3]:
sc

<hr>

#### Dataframes and RDD

In [4]:
rdd = sc.parallelize([[1, 2, 3],
[4, 5, 6],
[7, 8, 9]])

In [5]:
type(rdd)

pyspark.rdd.RDD

In [6]:
# To display rdd , we have two methods - collect() and take()

In [7]:
rdd.collect()

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
#For RDD, we can't use show()
rdd.take(3)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
#Number of Rows| Number of Sub Lists
rdd.count()

3

#### RDD -> Dataframe

In [10]:
#For Dataframe, we can't use take(), we will have to use method show(). collect() method can be used with df and rdd
df = rdd.toDF()
df.show(3)

+---+---+---+
| _1| _2| _3|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  7|  8|  9|
+---+---+---+

In [11]:
#To rename the columns from _1, _2,_3...into logical names, use follow this practice.
df = rdd.toDF(['A','B','C'])

In [12]:
#For Dataframe, we can't use take()
df.show(3)

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  7|  8|  9|
+---+---+---+

In [13]:
#If you don't want to make changes while rdd->dataframe transformation, we can make our RDD in proper way.
#There is a method called Row(). Let's see how can we make use of it in constructing proper RDD.
from pyspark.sql import Row

rdd = sc.parallelize([Row(A=1,
                          B=2,
                          C=3),
                     Row(A=4,
                          B=5,
                          C=6),
                     Row(A=7,
                          B=8,
                          C=9)])

In [14]:
#Verifying df
type(df)

pyspark.sql.dataframe.DataFrame

In [15]:
#Verifying df
df

DataFrame[A: bigint, B: bigint, C: bigint]

#### Dataframe -> RDD

In [16]:
rdd_new = df.rdd

In [17]:
type(rdd_new)

pyspark.rdd.RDD

In [18]:
rdd_new.take(5)

[Row(A=1, B=2, C=3), Row(A=4, B=5, C=6), Row(A=7, B=8, C=9)]

In [20]:
sqlContext

In [27]:
#As we have created a RDD from scratch. and then converted into Dataframe.
#We should also know how to create a Dataframe from Scratch.
data =[('1','2','3'),('4','5','6')]
dataFrame = sqlContext.createDataFrame(data, ['A','B','C'])

dataFrame.show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
+---+---+---+

<hr>

#### Let's see RDD computation-Analysis Way!

In [83]:
sparkData = sc.textFile( "C://Users//rvaish//Desktop//J U N K//MyFolder//captains_ODI.csv" )

In [84]:
type(sparkData)

pyspark.rdd.RDD

In [85]:
sparkData.take(10)

['Player,Country,Career,Matches,Won,Lost,Tied,Toss',
 '"Ponting, R T",Australia,1995-2012,230,165 ,51 ,14 ,124 ',
 '"Fleming, S P",New Zealand,1994-2007,218,98 ,106 ,14 ,105 ',
 '"Ranatunga, A",Sri Lanka,1982-1999,193,89 ,95 ,9 ,102 ',
 '"Dhoni, M S*",India,2004-,186,103 ,68 ,15 ,88 ',
 '"Border, A R",Australia,1979-1994,178,107 ,67 ,4 ,86 ',
 '"Azharuddin, M",India,1985-2000,174,89 ,77 ,8 ,96 ',
 '"Smith, G C",South Africa,2002-2013,149,91 ,51 ,7 ,74 ',
 '"Ganguly, S C",India,1992-2007,147,76 ,66 ,5 ,74 ',
 '"Cronje, W J",South Africa,1992-2000,140,99 ,37 ,4 ,74 ']