In [1]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
sc= SparkContext()
sqlContext = SQLContext(sc)

In [2]:
sc

In [3]:
sqlContext

### Loading CSV in PySpark

In [4]:
sparkData = sqlContext.read.format("com.databricks.spark.csv").options(delimiter=',',header  = True ,inferSchema = True).load('C://Users//rvaish//Desktop//J U N K//MyFolder//iris.csv')

In [5]:
type(sparkData)

pyspark.sql.dataframe.DataFrame

### Display PySpark Dataframe

In [6]:
sparkData.show(10)

+-----------+----------+-----------+----------+-----+
|sepallength|sepalwidth|petallength|petalwidth|class|
+-----------+----------+-----------+----------+-----+
|        4.7|       3.2|        1.3|       0.2|    1|
|        4.6|       3.1|        1.5|       0.2|    1|
|        5.0|       3.6|        1.4|       0.2|    1|
|        5.4|       3.9|        1.7|       0.4|    1|
|        4.6|       3.4|        1.4|       0.3|    1|
|        5.0|       3.4|        1.5|       0.2|    1|
|        4.4|       2.9|        1.4|       0.2|    1|
|        4.9|       3.1|        1.5|       0.1|    1|
|        5.4|       3.7|        1.5|       0.2|    1|
|        4.8|       3.4|        1.6|       0.2|    1|
+-----------+----------+-----------+----------+-----+
only showing top 10 rows

### Display PySpark Dataframe's Columns

In [7]:
sparkData.columns

['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'class']

### Display count of of PySpark Dataframe's Columns

In [8]:
len(sparkData.columns)

5

### Display count of PySpark Dataframe's rows

In [9]:
#If pandas, this would have worked!
#len(sparkData)
#For PySpark
sparkData.count()

148

### Rename PySpark Dataframe's Columns

In [10]:
#If pandas, this would have worked!
#sparkData.columns = ['A','B','C','D','E']
#For PySpark
sparkData.toDF('A','B','C','D','E').show(4)

+---+---+---+---+---+
|  A|  B|  C|  D|  E|
+---+---+---+---+---+
|4.7|3.2|1.3|0.2|  1|
|4.6|3.1|1.5|0.2|  1|
|5.0|3.6|1.4|0.2|  1|
|5.4|3.9|1.7|0.4|  1|
+---+---+---+---+---+
only showing top 4 rows

###  PySpark Dataframe's Cell Selction

In [12]:
sparkData.collect()[0][3]

0.2

In [27]:
#sparkData.collect()

###  PySpark Dataframe's Column Selction [WAY#1]

In [12]:
#If pandas, this would have worked!
#sparkData[['sepallength','petallength']]
#For PySpark
sparkData[['sepallength','petallength']].show(5)

+-----------+-----------+
|sepallength|petallength|
+-----------+-----------+
|        4.7|        1.3|
|        4.6|        1.5|
|        5.0|        1.4|
|        5.4|        1.7|
|        4.6|        1.4|
+-----------+-----------+
only showing top 5 rows

###  PySpark Dataframe's Column Selction [WAY#2]

In [13]:
sparkData.select('sepallength','petallength').show(10)

+-----------+-----------+
|sepallength|petallength|
+-----------+-----------+
|        4.7|        1.3|
|        4.6|        1.5|
|        5.0|        1.4|
|        5.4|        1.7|
|        4.6|        1.4|
|        5.0|        1.5|
|        4.4|        1.4|
|        4.9|        1.5|
|        5.4|        1.5|
|        4.8|        1.6|
+-----------+-----------+
only showing top 10 rows

###  PythonStyleQuery on PySpark Dataframe [WAY#1]

In [14]:
sparkData.filter(sparkData.sepallength=='4.7').show()

+-----------+----------+-----------+----------+-----+
|sepallength|sepalwidth|petallength|petalwidth|class|
+-----------+----------+-----------+----------+-----+
|        4.7|       3.2|        1.3|       0.2|    1|
|        4.7|       3.2|        1.6|       0.2|    1|
+-----------+----------+-----------+----------+-----+

###  PythonStyleQuery on PySpark Dataframe [WAY#2]

In [15]:
#If pandas, this would have worked!
#sparkData[(sparkData['sepalwidth'] > 2) & (sparkData['sepalwidth'] > 2)]
#For PySpark
sparkData[(sparkData['sepalwidth'] > 2) & (sparkData['sepalwidth'] > 2)].show(5)

+-----------+----------+-----------+----------+-----+
|sepallength|sepalwidth|petallength|petalwidth|class|
+-----------+----------+-----------+----------+-----+
|        4.7|       3.2|        1.3|       0.2|    1|
|        4.6|       3.1|        1.5|       0.2|    1|
|        5.0|       3.6|        1.4|       0.2|    1|
|        5.4|       3.9|        1.7|       0.4|    1|
|        4.6|       3.4|        1.4|       0.3|    1|
+-----------+----------+-----------+----------+-----+
only showing top 5 rows

### Dropping Columns in PySpark Dataframe

In [16]:
sparkDataWitoutClass = sparkData.drop('class')

In [17]:
sparkDataWitoutClass.show(3)

+-----------+----------+-----------+----------+
|sepallength|sepalwidth|petallength|petalwidth|
+-----------+----------+-----------+----------+
|        4.7|       3.2|        1.3|       0.2|
|        4.6|       3.1|        1.5|       0.2|
|        5.0|       3.6|        1.4|       0.2|
+-----------+----------+-----------+----------+
only showing top 3 rows

### Dropping off Rows (on condition)

In [18]:
sparkDataWitoutClassAndfilterOnData = sparkDataWitoutClass.where("sepalwidth>4")
sparkDataWitoutClassAndfilterOnData.show()

+-----------+----------+-----------+----------+
|sepallength|sepalwidth|petallength|petalwidth|
+-----------+----------+-----------+----------+
|        5.7|       4.4|        1.5|       0.4|
|        5.2|       4.1|        1.5|       0.1|
|        5.5|       4.2|        1.4|       0.2|
+-----------+----------+-----------+----------+

### Performing SQL Queries

SQL Queries cannot be written in Pandas.

In [19]:
sparkData.registerTempTable('sparkDataTable')
sqlContext.sql('select * from sparkDataTable').show(4)

+-----------+----------+-----------+----------+-----+
|sepallength|sepalwidth|petallength|petalwidth|class|
+-----------+----------+-----------+----------+-----+
|        4.7|       3.2|        1.3|       0.2|    1|
|        4.6|       3.1|        1.5|       0.2|    1|
|        5.0|       3.6|        1.4|       0.2|    1|
|        5.4|       3.9|        1.7|       0.4|    1|
+-----------+----------+-----------+----------+-----+
only showing top 4 rows

### Aggregate Methods

In [20]:
#If pandas, this would have worked!
#sparkData['A'].min()
#min(sparkData['A'])
#For PySpark
from pyspark.sql.functions import max
sparkData.agg(max(sparkData.sepalwidth)).show()

+---------------+
|max(sepalwidth)|
+---------------+
|            4.4|
+---------------+

In [21]:
from pyspark.sql.functions import min
sparkData.agg(min(sparkData.sepalwidth)).show()

+---------------+
|min(sepalwidth)|
+---------------+
|            2.0|
+---------------+

In [22]:
from pyspark.sql.functions import avg
sparkData.agg(avg(sparkData.sepalwidth)).show()

+------------------+
|   avg(sepalwidth)|
+------------------+
|3.0513513513513524|
+------------------+

### SORTING

In [23]:
sparkData.sort("sepalwidth", ascending=True).collect()

[Row(sepallength=5.0, sepalwidth=2.0, petallength=3.5, petalwidth=1.0, class=2),
 Row(sepallength=6.0, sepalwidth=2.2, petallength=4.0, petalwidth=1.0, class=2),
 Row(sepallength=6.2, sepalwidth=2.2, petallength=4.5, petalwidth=1.5, class=2),
 Row(sepallength=6.0, sepalwidth=2.2, petallength=5.0, petalwidth=1.5, class=3),
 Row(sepallength=4.5, sepalwidth=2.3, petallength=1.3, petalwidth=0.3, class=1),
 Row(sepallength=5.5, sepalwidth=2.3, petallength=4.0, petalwidth=1.3, class=2),
 Row(sepallength=6.3, sepalwidth=2.3, petallength=4.4, petalwidth=1.3, class=2),
 Row(sepallength=5.0, sepalwidth=2.3, petallength=3.3, petalwidth=1.0, class=2),
 Row(sepallength=4.9, sepalwidth=2.4, petallength=3.3, petalwidth=1.0, class=2),
 Row(sepallength=5.5, sepalwidth=2.4, petallength=3.8, petalwidth=1.1, class=2),
 Row(sepallength=5.5, sepalwidth=2.4, petallength=3.7, petalwidth=1.0, class=2),
 Row(sepallength=5.6, sepalwidth=2.5, petallength=3.9, petalwidth=1.1, class=2),
 Row(sepallength=6.3, sepalwidth=2.5, petallength=4.9, petalwidth=1.5, class=2),
 Row(sepallength=5.5, sepalwidth=2.5, petallength=4.0, petalwidth=1.3, class=2),
 Row(sepallength=5.1, sepalwidth=2.5, petallength=3.0, petalwidth=1.1, class=2),
 Row(sepallength=4.9, sepalwidth=2.5, petallength=4.5, petalwidth=1.7, class=3),
 Row(sepallength=6.7, sepalwidth=2.5, petallength=5.8, petalwidth=1.8, class=3),
 Row(sepallength=5.7, sepalwidth=2.5, petallength=5.0, petalwidth=2.0, class=3),
 Row(sepallength=6.3, sepalwidth=2.5, petallength=5.0, petalwidth=1.9, class=3),
 Row(sepallength=5.7, sepalwidth=2.6, petallength=3.5, petalwidth=1.0, class=2),
 Row(sepallength=5.5, sepalwidth=2.6, petallength=4.4, petalwidth=1.2, class=2),
 Row(sepallength=5.8, sepalwidth=2.6, petallength=4.0, petalwidth=1.2, class=2),
 Row(sepallength=7.7, sepalwidth=2.6, petallength=6.9, petalwidth=2.3, class=3),
 Row(sepallength=6.1, sepalwidth=2.6, petallength=5.6, petalwidth=1.4, class=3),
 Row(sepallength=5.2, sepalwidth=2.7, petallength=3.9, petalwidth=1.4, class=2),
 Row(sepallength=5.8, sepalwidth=2.7, petallength=4.1, petalwidth=1.0, class=2),
 Row(sepallength=5.8, sepalwidth=2.7, petallength=3.9, petalwidth=1.2, class=2),
 Row(sepallength=6.0, sepalwidth=2.7, petallength=5.1, petalwidth=1.6, class=2),
 Row(sepallength=5.6, sepalwidth=2.7, petallength=4.2, petalwidth=1.3, class=2),
 Row(sepallength=5.8, sepalwidth=2.7, petallength=5.1, petalwidth=1.9, class=3),
 Row(sepallength=6.4, sepalwidth=2.7, petallength=5.3, petalwidth=1.9, class=3),
 Row(sepallength=6.3, sepalwidth=2.7, petallength=4.9, petalwidth=1.8, class=3),
 Row(sepallength=5.8, sepalwidth=2.7, petallength=5.1, petalwidth=1.9, class=3),
 Row(sepallength=6.5, sepalwidth=2.8, petallength=4.6, petalwidth=1.5, class=2),
 Row(sepallength=5.7, sepalwidth=2.8, petallength=4.5, petalwidth=1.3, class=2),
 Row(sepallength=6.1, sepalwidth=2.8, petallength=4.0, petalwidth=1.3, class=2),
 Row(sepallength=6.1, sepalwidth=2.8, petallength=4.7, petalwidth=1.2, class=2),
 Row(sepallength=6.8, sepalwidth=2.8, petallength=4.8, petalwidth=1.4, class=2),
 Row(sepallength=5.7, sepalwidth=2.8, petallength=4.1, petalwidth=1.3, class=2),
 Row(sepallength=5.8, sepalwidth=2.8, petallength=5.1, petalwidth=2.4, class=3),
 Row(sepallength=5.6, sepalwidth=2.8, petallength=4.9, petalwidth=2.0, class=3),
 Row(sepallength=7.7, sepalwidth=2.8, petallength=6.7, petalwidth=2.0, class=3),
 Row(sepallength=6.2, sepalwidth=2.8, petallength=4.8, petalwidth=1.8, class=3),
 Row(sepallength=6.4, sepalwidth=2.8, petallength=5.6, petalwidth=2.1, class=3),
 Row(sepallength=7.4, sepalwidth=2.8, petallength=6.1, petalwidth=1.9, class=3),
 Row(sepallength=6.4, sepalwidth=2.8, petallength=5.6, petalwidth=2.2, class=3),
 Row(sepallength=6.3, sepalwidth=2.8, petallength=5.1, petalwidth=1.5, class=3),
 Row(sepallength=4.4, sepalwidth=2.9, petallength=1.4, petalwidth=0.2, class=1),
 Row(sepallength=6.6, sepalwidth=2.9, petallength=4.6, petalwidth=1.3, class=2),
 Row(sepallength=6.1, sepalwidth=2.9, petallength=4.7, petalwidth=1.4, class=2),
 Row(sepallength=5.6, sepalwidth=2.9, petallength=3.6, petalwidth=1.3, class=2),
 Row(sepallength=6.4, sepalwidth=2.9, petallength=4.3, petalwidth=1.3, class=2),
 Row(sepallength=6.0, sepalwidth=2.9, petallength=4.5, petalwidth=1.5, class=2),
 Row(sepallength=5.7, sepalwidth=2.9, petallength=4.2, petalwidth=1.3, class=2),
 Row(sepallength=6.2, sepalwidth=2.9, petallength=4.3, petalwidth=1.3, class=2),
 Row(sepallength=6.3, sepalwidth=2.9, petallength=5.6, petalwidth=1.8, class=3),
 Row(sepallength=7.3, sepalwidth=2.9, petallength=6.3, petalwidth=1.8, class=3),
 Row(sepallength=4.8, sepalwidth=3.0, petallength=1.4, petalwidth=0.1, class=1),
 Row(sepallength=4.3, sepalwidth=3.0, petallength=1.1, petalwidth=0.1, class=1),
 Row(sepallength=5.0, sepalwidth=3.0, petallength=1.6, petalwidth=0.2, class=1),
 Row(sepallength=4.4, sepalwidth=3.0, petallength=1.3, petalwidth=0.2, class=1),
 Row(sepallength=4.8, sepalwidth=3.0, petallength=1.4, petalwidth=0.3, class=1),
 Row(sepallength=5.9, sepalwidth=3.0, petallength=4.2, petalwidth=1.5, class=2),
 Row(sepallength=5.6, sepalwidth=3.0, petallength=4.5, petalwidth=1.5, class=2),
 Row(sepallength=6.6, sepalwidth=3.0, petallength=4.4, petalwidth=1.4, class=2),
 Row(sepallength=6.7, sepalwidth=3.0, petallength=5.0, petalwidth=1.7, class=2),
 Row(sepallength=5.4, sepalwidth=3.0, petallength=4.5, petalwidth=1.5, class=2),
 Row(sepallength=5.6, sepalwidth=3.0, petallength=4.1, petalwidth=1.3, class=2),
 Row(sepallength=6.1, sepalwidth=3.0, petallength=4.6, petalwidth=1.4, class=2),
 Row(sepallength=5.7, sepalwidth=3.0, petallength=4.2, petalwidth=1.2, class=2),
 Row(sepallength=7.1, sepalwidth=3.0, petallength=5.9, petalwidth=2.1, class=3),
 Row(sepallength=6.5, sepalwidth=3.0, petallength=5.8, petalwidth=2.2, class=3),
 Row(sepallength=7.6, sepalwidth=3.0, petallength=6.6, petalwidth=2.1, class=3),
 Row(sepallength=6.8, sepalwidth=3.0, petallength=5.5, petalwidth=2.1, class=3),
 Row(sepallength=6.5, sepalwidth=3.0, petallength=5.5, petalwidth=1.8, class=3),
 Row(sepallength=6.1, sepalwidth=3.0, petallength=4.9, petalwidth=1.8, class=3),
 Row(sepallength=7.2, sepalwidth=3.0, petallength=5.8, petalwidth=1.6, class=3),
 Row(sepallength=7.7, sepalwidth=3.0, petallength=6.1, petalwidth=2.3, class=3),
 Row(sepallength=6.0, sepalwidth=3.0, petallength=4.8, petalwidth=1.8, class=3),
 Row(sepallength=6.7, sepalwidth=3.0, petallength=5.2, petalwidth=2.3, class=3),
 Row(sepallength=6.5, sepalwidth=3.0, petallength=5.2, petalwidth=2.0, class=3),
 Row(sepallength=5.9, sepalwidth=3.0, petallength=5.1, petalwidth=1.8, class=3),
 Row(sepallength=4.6, sepalwidth=3.1, petallength=1.5, petalwidth=0.2, class=1),
 Row(sepallength=4.9, sepalwidth=3.1, petallength=1.5, petalwidth=0.1, class=1),
 Row(sepallength=4.8, sepalwidth=3.1, petallength=1.6, petalwidth=0.2, class=1),
 Row(sepallength=4.9, sepalwidth=3.1, petallength=1.5, petalwidth=0.1, class=1),
 Row(sepallength=4.9, sepalwidth=3.1, petallength=1.5, petalwidth=0.1, class=1),
 Row(sepallength=6.9, sepalwidth=3.1, petallength=4.9, petalwidth=1.5, class=2),
 Row(sepallength=6.7, sepalwidth=3.1, petallength=4.4, petalwidth=1.4, class=2),
 Row(sepallength=6.7, sepalwidth=3.1, petallength=4.7, petalwidth=1.5, class=2),
 Row(sepallength=6.4, sepalwidth=3.1, petallength=5.5, petalwidth=1.8, class=3),
 Row(sepallength=6.9, sepalwidth=3.1, petallength=5.4, petalwidth=2.1, class=3),
 Row(sepallength=6.7, sepalwidth=3.1, petallength=5.6, petalwidth=2.4, class=3),
 Row(sepallength=6.9, sepalwidth=3.1, petallength=5.1, petalwidth=2.3, class=3),
 Row(sepallength=4.7, sepalwidth=3.2, petallength=1.3, petalwidth=0.2, class=1),
 Row(sepallength=4.7, sepalwidth=3.2, petallength=1.6, petalwidth=0.2, class=1),
 Row(sepallength=5.0, sepalwidth=3.2, petallength=1.2, petalwidth=0.2, class=1),
 Row(sepallength=4.4, sepalwidth=3.2, petallength=1.3, petalwidth=0.2, class=1),
 Row(sepallength=4.6, sepalwidth=3.2, petallength=1.4, petalwidth=0.2, class=1),
 Row(sepallength=7.0, sepalwidth=3.2, petallength=4.7, petalwidth=1.4, class=2),
 Row(sepallength=6.4, sepalwidth=3.2, petallength=4.5, petalwidth=1.5, class=2),
 Row(sepallength=5.9, sepalwidth=3.2, petallength=4.8, petalwidth=1.8, class=2),
 Row(sepallength=6.5, sepalwidth=3.2, petallength=5.1, petalwidth=2.0, class=3),
 Row(sepallength=6.4, sepalwidth=3.2, petallength=5.3, petalwidth=2.3, class=3),
 Row(sepallength=6.9, sepalwidth=3.2, petallength=5.7, petalwidth=2.3, class=3),
 Row(sepallength=7.2, sepalwidth=3.2, petallength=6.0, petalwidth=1.8, class=3),
 Row(sepallength=6.8, sepalwidth=3.2, petallength=5.9, petalwidth=2.3, class=3),
 Row(sepallength=5.1, sepalwidth=3.3, petallength=1.7, petalwidth=0.5, class=1),
 Row(sepallength=5.0, sepalwidth=3.3, petallength=1.4, petalwidth=0.2, class=1),
 Row(sepallength=6.3, sepalwidth=3.3, petallength=4.7, petalwidth=1.6, class=2),
 Row(sepallength=6.3, sepalwidth=3.3, petallength=6.0, petalwidth=2.5, class=3),
 Row(sepallength=6.7, sepalwidth=3.3, petallength=5.7, petalwidth=2.1, class=3),
 Row(sepallength=6.7, sepalwidth=3.3, petallength=5.7, petalwidth=2.5, class=3),
 Row(sepallength=4.6, sepalwidth=3.4, petallength=1.4, petalwidth=0.3, class=1),
 Row(sepallength=5.0, sepalwidth=3.4, petallength=1.5, petalwidth=0.2, class=1),
 Row(sepallength=4.8, sepalwidth=3.4, petallength=1.6, petalwidth=0.2, class=1),
 Row(sepallength=5.4, sepalwidth=3.4, petallength=1.7, petalwidth=0.2, class=1),
 Row(sepallength=4.8, sepalwidth=3.4, petallength=1.9, petalwidth=0.2, class=1),
 Row(sepallength=5.0, sepalwidth=3.4, petallength=1.6, petalwidth=0.4, class=1),
 Row(sepallength=5.2, sepalwidth=3.4, petallength=1.4, petalwidth=0.2, class=1),
 Row(sepallength=5.4, sepalwidth=3.4, petallength=1.5, petalwidth=0.4, class=1),
 Row(sepallength=5.1, sepalwidth=3.4, petallength=1.5, petalwidth=0.2, class=1),
 Row(sepallength=6.0, sepalwidth=3.4, petallength=4.5, petalwidth=1.6, class=2),
 Row(sepallength=6.3, sepalwidth=3.4, petallength=5.6, petalwidth=2.4, class=3),
 Row(sepallength=6.2, sepalwidth=3.4, petallength=5.4, petalwidth=2.3, class=3),
 Row(sepallength=5.1, sepalwidth=3.5, petallength=1.4, petalwidth=0.3, class=1),
 Row(sepallength=5.2, sepalwidth=3.5, petallength=1.5, petalwidth=0.2, class=1),
 Row(sepallength=5.5, sepalwidth=3.5, petallength=1.3, petalwidth=0.2, class=1),
 Row(sepallength=5.0, sepalwidth=3.5, petallength=1.3, petalwidth=0.3, class=1),
 Row(sepallength=5.0, sepalwidth=3.5, petallength=1.6, petalwidth=0.6, class=1),
 Row(sepallength=5.0, sepalwidth=3.6, petallength=1.4, petalwidth=0.2, class=1),
 Row(sepallength=4.6, sepalwidth=3.6, petallength=1.0, petalwidth=0.2, class=1),
 Row(sepallength=7.2, sepalwidth=3.6, petallength=6.1, petalwidth=2.5, class=3),
 Row(sepallength=5.4, sepalwidth=3.7, petallength=1.5, petalwidth=0.2, class=1),
 Row(sepallength=5.1, sepalwidth=3.7, petallength=1.5, petalwidth=0.4, class=1),
 Row(sepallength=5.3, sepalwidth=3.7, petallength=1.5, petalwidth=0.2, class=1),
 Row(sepallength=5.7, sepalwidth=3.8, petallength=1.7, petalwidth=0.3, class=1),
 Row(sepallength=5.1, sepalwidth=3.8, petallength=1.5, petalwidth=0.3, class=1),
 Row(sepallength=5.1, sepalwidth=3.8, petallength=1.9, petalwidth=0.4, class=1),
 Row(sepallength=5.1, sepalwidth=3.8, petallength=1.6, petalwidth=0.2, class=1),
 Row(sepallength=7.7, sepalwidth=3.8, petallength=6.7, petalwidth=2.2, class=3),
 Row(sepallength=7.9, sepalwidth=3.8, petallength=6.4, petalwidth=2.0, class=3),
 Row(sepallength=5.4, sepalwidth=3.9, petallength=1.7, petalwidth=0.4, class=1),
 Row(sepallength=5.4, sepalwidth=3.9, petallength=1.3, petalwidth=0.4, class=1),
 Row(sepallength=5.8, sepalwidth=4.0, petallength=1.2, petalwidth=0.2, class=1),
 Row(sepallength=5.2, sepalwidth=4.1, petallength=1.5, petalwidth=0.1, class=1),
 Row(sepallength=5.5, sepalwidth=4.2, petallength=1.4, petalwidth=0.2, class=1),
 Row(sepallength=5.7, sepalwidth=4.4, petallength=1.5, petalwidth=0.4, class=1)]

### Describe the Data

In [24]:
sparkData.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+
|summary|       sepallength|        sepalwidth|       petallength|        petalwidth|             class|
+-------+------------------+------------------+------------------+------------------+------------------+
|  count|               148|               148|               148|               148|               148|
|   mean| 5.854729729729732|3.0513513513513524| 3.790540540540543| 1.212162162162163|2.0135135135135136|
| stddev|0.8276953052263868|0.4349503821082591|1.7546570817500953|0.7593324498814156|0.8163839840050471|
|    min|               4.3|               2.0|               1.0|               0.1|                 1|
|    max|               7.9|               4.4|               6.9|               2.5|                 3|
+-------+------------------+------------------+------------------+------------------+------------------+

In [25]:
sparkData.printSchema()

root
 |-- sepallength: double (nullable = true)
 |-- sepalwidth: double (nullable = true)
 |-- petallength: double (nullable = true)
 |-- petalwidth: double (nullable = true)
 |-- class: integer (nullable = true)

### Exploring New Data >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [15]:
sparkDataLoan = sqlContext.read.format("com.databricks.spark.csv").options(delimiter=',',header  = True ,inferSchema = True).load('C://Users//rvaish//Downloads//Loan//Data.csv')

### Talking about Missing Values - Replace with Mean

In [16]:
sparkDataLoan[['mths_since_last_record']].show(10)

+----------------------+
|mths_since_last_record|
+----------------------+
|                  null|
|                  null|
|                  null|
|                  null|
|                  null|
|                  null|
|                  null|
|                  null|
|                  null|
|                  null|
+----------------------+
only showing top 10 rows

In [17]:
sparkDataLoan.dtypes

[('mths_since_last_record', 'int'),
 ('open_acc', 'int'),
 ('pub_rec', 'int'),
 ('revol_bal', 'int'),
 ('revol_util', 'string')]

In [23]:
from pyspark.sql.functions import avg
#type(sparkDataLoan.agg(avg(sparkDataLoan.mths_since_last_record)).collect()[0][0])

sparkDataLoan = sparkDataLoan.na.fill(sparkDataLoan.agg(avg(sparkDataLoan.mths_since_last_record)).collect()[0][0], "mths_since_last_record")
sparkDataLoan.show(5)

+----------------------+--------+-------+---------+----------+
|mths_since_last_record|open_acc|pub_rec|revol_bal|revol_util|
+----------------------+--------+-------+---------+----------+
|                    59|       3|      0|    13648|    83.70%|
|                    59|       3|      0|     1687|     9.40%|
|                    59|       2|      0|     2956|    98.50%|
|                    59|      10|      0|     5598|       21%|
|                    59|      15|      0|    27783|    53.90%|
+----------------------+--------+-------+---------+----------+
only showing top 5 rows

### Spark Dataframes -> Pandas Dataframes

In [29]:
import pandas

In [30]:
panadadataframe = sparkDataLoan.toPandas()

In [31]:
panadadataframe.head(3)

   mths_since_last_record  open_acc  pub_rec  revol_bal revol_util
0                      59       3.0      0.0    13648.0     83.70%
1                      59       3.0      0.0     1687.0      9.40%
2                      59       2.0      0.0     2956.0     98.50%

### Pandas Dataframes -> Spark Dataframes

In [37]:
sparkdataframefrompandas = sqlContext.createDataFrame(panadadataframe)

In [38]:
sparkdataframefrompandas.show(3)

+----------------------+--------+-------+---------+----------+
|mths_since_last_record|open_acc|pub_rec|revol_bal|revol_util|
+----------------------+--------+-------+---------+----------+
|                    59|     3.0|    0.0|  13648.0|    83.70%|
|                    59|     3.0|    0.0|   1687.0|     9.40%|
|                    59|     2.0|    0.0|   2956.0|    98.50%|
+----------------------+--------+-------+---------+----------+
only showing top 3 rows